In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
nba_df = pd.read_csv("Datasets/all_seasons.csv")
nba_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [3]:
nba_injuries_df = pd.read_csv("Datasets/nba_player_injuries.csv")
nba_injuries_df

,Unnamed: 0,Date,Team,Acquired,Relinquished,Notes
0,0,1951-12-25,Bullets,NaN,Don Barksdale,placed on IL
1,1,1952-12-26,Knicks,NaN,Max Zaslofsky,placed on IL with torn side muscle
2,2,1956-12-29,Knicks,NaN,Jim Baechtold,placed on inactive list
3,3,1959-01-16,Lakers,NaN,Elgin Baylor,player refused to play after being denied a ro...
4,4,1961-11-26,Lakers,NaN,Elgin Baylor,player reported for military duty
...,...,...,...,...,...,...
37662,37662,2023-04-16,Clippers,Marcus Morris,NaN,activated from IL
37663,37663,2023-04-16,Grizzlies,Dillon Brooks,NaN,activated from IL
37664,37664,2023-04-16,Grizzlies,Ja Morant,NaN,activated from IL
37665,37665,2023-04-16,Grizzlies,Jaren Jackson Jr.,NaN,activated from IL
37666,37666,2023-04-16,Grizzlies,Santi Aldama,NaN,activated from IL

In [4]:
nba_df1 = nba_df.drop(columns = ["team_abbreviation", "player_height", "player_weight", "college", "draft_year", "draft_round"])

In [5]:
nba_df2 = nba_df1.drop(columns = ["Unnamed: 0", "draft_number", "oreb_pct", "dreb_pct", "ast_pct"])
nba_df2

,player_name,age,country,gp,pts,reb,ast,net_rating,usg_pct,ts_pct,season
0,Randy Livingston,22.0,USA,64,3.9,1.5,2.4,0.3,0.169,0.487,1996-97
1,Gaylon Nickerson,28.0,USA,4,3.8,1.3,0.3,8.9,0.174,0.497,1996-97
2,George Lynch,26.0,USA,41,8.3,6.4,1.9,-8.2,0.175,0.512,1996-97
3,George McCloud,30.0,USA,64,10.2,2.8,1.7,-2.7,0.206,0.527,1996-97
4,George Zidek,23.0,USA,52,2.8,1.7,0.3,-14.1,0.195,0.500,1996-97
...,...,...,...,...,...,...,...,...,...,...,...
12839,Joel Embiid,29.0,Cameroon,66,33.1,10.2,4.2,8.8,0.370,0.655,2022-23
12840,John Butler Jr.,20.0,USA,19,2.4,0.9,0.6,-16.1,0.102,0.411,2022-23
12841,John Collins,25.0,USA,71,13.1,6.5,1.2,-0.2,0.168,0.593,2022-23
12842,Jericho Sims,24.0,USA,52,3.4,4.7,0.5,-6.7,0.074,0.780,2022-23
12843,JaMychal Green,33.0,USA,57,6.4,3.6,0.9,-8.2,0.169,0.650,2022-23

In [6]:
nba_df2 = nba_df2[nba_df2["pts"] > 20]

In [7]:
nba_df2

,player_name,age,country,gp,pts,reb,ast,net_rating,usg_pct,ts_pct,season
7,Glen Rice,30.0,USA,79,26.8,4.0,2.0,3.2,0.272,0.605,1996-97
8,Glenn Robinson,24.0,USA,80,21.1,6.3,3.1,-2.9,0.278,0.528,1996-97
9,Grant Hill,24.0,USA,80,21.4,9.0,7.3,6.9,0.283,0.556,1996-97
18,Hakeem Olajuwon,34.0,Nigeria,78,23.2,9.2,3.0,6.5,0.308,0.558,1996-97
22,Gary Payton,28.0,USA,82,21.8,4.6,7.1,10.3,0.264,0.545,1996-97
...,...,...,...,...,...,...,...,...,...,...,...
12822,Jaylen Brown,26.0,USA,67,26.6,6.9,3.5,5.4,0.307,0.581,2022-23
12825,Jayson Tatum,25.0,USA,74,30.1,8.8,4.6,8.5,0.319,0.607,2022-23
12829,Jerami Grant,29.0,USA,63,20.5,4.5,2.4,-1.2,0.227,0.606,2022-23
12834,Jimmy Butler,33.0,USA,64,22.9,5.9,5.3,1.2,0.248,0.647,2022-23
12839,Joel Embiid,29.0,Cameroon,66,33.1,10.2,4.2,8.8,0.370,0.655,2022-23

In [8]:
# Load the RAPTOR data
latest_raptor_df = pd.read_csv('Datasets/latest_RAPTOR_by_team.csv', usecols=['player_name', 'season', 'raptor_offense', 'raptor_defense', 'predator_offense', 'predator_defense'])
historical_raptor_df = pd.read_csv('Datasets/historical_RAPTOR_by_team.csv', usecols=['player_name', 'season', 'raptor_offense', 'raptor_defense', 'predator_offense', 'predator_defense'])

# Convert the 'season' column in the RAPTOR dataframes
nba_df['season_end'] = nba_df['season'].str.split('-').str[1].astype(str)
nba_df['season_end'] = '20' + nba_df['season_end']

latest_raptor_df['season'] = latest_raptor_df['season'].astype(str)
historical_raptor_df['season'] = historical_raptor_df['season'].astype(str)

# Merge the RAPTOR dataframes to allign historical data with current data
raptor_df = pd.concat([latest_raptor_df, historical_raptor_df]).drop_duplicates(subset=['player_name', 'season'])

# Merge the combined RAPTOR data with the main NBA DataFrame
nba_df = nba_df.merge(raptor_df, left_on=['player_name', 'season_end'], right_on=['player_name', 'season'], how='left')

# Drop the temporary 'season_end' column
nba_df.drop('season_end', axis=1, inplace=True)

In [9]:
nba_df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,dreb_pct,usg_pct,ts_pct,ast_pct,season_x,season_y,raptor_offense,raptor_defense,predator_offense,predator_defense
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,0.071,0.169,0.487,0.248,1996-97,NaN,NaN,NaN,NaN,NaN
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,0.111,0.174,0.497,0.043,1996-97,NaN,NaN,NaN,NaN,NaN
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,0.185,0.175,0.512,0.125,1996-97,NaN,NaN,NaN,NaN,NaN
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,0.111,0.206,0.527,0.125,1996-97,NaN,NaN,NaN,NaN,NaN
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,0.169,0.195,0.500,0.064,1996-97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,12839,Joel Embiid,PHI,29.0,213.36,127.005760,Kansas,Cameroon,2014,1,...,0.243,0.370,0.655,0.233,2022-23,2023,-1.985531,7.098069,-0.639339,5.590006
12840,12840,John Butler Jr.,POR,20.0,213.36,86.182480,Florida State,USA,Undrafted,Undrafted,...,0.065,0.102,0.411,0.066,2022-23,2023,-6.186833,-0.939954,-6.062950,-2.195758
12841,12841,John Collins,ATL,25.0,205.74,102.511792,Wake Forest,USA,2017,1,...,0.180,0.168,0.593,0.052,2022-23,2023,-4.994061,5.443146,-3.152673,3.443571
12842,12842,Jericho Sims,NYK,24.0,208.28,113.398000,Texas,USA,2021,2,...,0.175,0.074,0.780,0.044,2022-23,2023,-2.571740,-0.018667,-2.737389,-0.089679
12843,12843,JaMychal Green,GSW,33.0,205.74,102.965384,Alabama,USA,Undrafted,Undrafted,...,0.164,0.169,0.650,0.094,2022-23,2023,-6.875048,0.099608,-6.835607,-1.820835